# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#etc files
*.tlog
*.*.tlog
*.suo
*.*.suo
*.log
*.pdb
*.lik
*.ilk
*.idb
.vs/
ignore-.vs/

git rm --cached *.suo
git commit -m "Delete suo file from repository"
Engine/Default/Engine\.vcxproj

Engine/Bin/
